@model Teledoc.Domain.Entities.Clients.Client

<div class="container">
    <h1>Информация о клиенте: @Model.Id</h1>

    <p>@Model.Name</p>
    <p>@Model.ClientsINN</p>
    <p>@Model.Organization</p>

    <hr />
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>